<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="person.firstName"
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="Enter your first name"
               required #firstName="ngModel">
      </div>
      <div [hidden]="!firstName.pristine" class="alert alert-danger">First Name is required</div>
      <div class="form-group">
        <label for="emailAddress">Email</label>
        <input type="text" [(ngModel)]="person.emailAddress"
               class="form-control"
               id="emailAddress"
               name="emailAddress"
               placeholder="Enter your email address"
               required #emailAddress="ngModel">
        <div [hidden]="!emailAddress.pristine" class="alert alert-danger">Email Address is required</div>
      </div>
      <button type="submit" [disabled]="!personForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
