<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Person Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Chair Position</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Email Address</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.personId }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.chairPosition }}</td>
        <td>{{ person.mobileNumber }}</td>
        <td><a href="mailto:{{ person.emailAddress }}">{{ person.emailAddress }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
